body {
    background-color: #ffffff;
}

div.ui.inverted.center.aligned.segment {
    padding-bottom: 100px;
}

i.large.anchor.icon {
    color: white;
    margin-top: 30px;
}

img.ui.bordered.image {
    border: 4px solid #767676;
    width: 250px;
    margin: 130px auto 60px;
}


div.ui.text.container {
    margin: 30px auto;
}

div.ui.middle.aligned.stackable.grid.container {
    padding: 100px 0;
}

h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header{
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

p {
    color: #424242;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

/*#trips i {*/
    /*color: blue;*/
/*}*/